body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color:#69747c;
  color: white;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.5rem;
}
h1,
h2,
h4,
h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
h4 {
  font-size: 2rem;
  font-weight:normal;
}

h3 {
  font-size: 2.25rem;
  font-weight:normal;
}

.navbar-inverse {
  background-color: #1c0f13;
}

.jumbotron {
  background-color: #a0c1d1;
  color: white;
  background-repeat: no-repeat;
  background-image: url("./../images/hero-background-image.jpg");
  height: 55rem;
  background-position: 5% 15%;
  background-size: cover;
}

.mobile {
  display: none;
}

.hero {
  padding: 5rem;
}

body .info {
  background-image: url("./../images/arrows.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0% 90%;
}
.info {
  /* text-shadow: 3px 4px #1c0f13; */
  padding-bottom: 4rem;
}
.info h2 {
  color: #a0c1d1;
}
.info p{
  font-size: 2rem;
}

.list-group-item {
  color: #69747c;
}
.white {
  background-color: #fdfdff;
  color: #a0c1d1;
  text-shadow: 0 0.3px #69747c;
}

#audience {
  color: #69747c;
}

.text {
  padding: 4rem 0;
}

.text p {
  font-size: 2rem;
}
.info .bottom {
  padding-bottom: 4rem;
}

.video {
  padding: 3rem 2rem;
}

.light-blue {
  background-color: #a0c1d1;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem; 
}
.outter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9rem;
  border: 1.5px solid #fdfdff;
  text-align: center;
}

.bottom-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 3rem;
  border: 1px solid #fdfdff;
  text-align: center;
}


footer {
  height: 15rem;
}

footer .row {
  padding-top: 2rem;
}

footer li {
  padding: .5rem 0;
}

footer a {
  color: white;
}

footer a:hover {
  color: #a0c1d1;
  text-decoration: none;
  transition: all .1s ease-out .1s;
}

@media only screen and (max-width:480px) {
  .mobile {
    display: grid;
  }
  .jumbotron .mobile{
    background-image: url("./../images/hero-background-image-mobile.jpg");
  }
  .desktop {
    display: none;
  }
  .jumbotron{
    margin: 2rem 0;
    height: 45rem;
  }
}
